    
    <div class="item">
      <div>Titulo</div>
      <div>
        <input 
          type="text" 
          name="name"
          placeholder="Nome"
          value="{{ items.name }}"
          >
      </div>
    </div>


    <div class="item">
      <div>Avatar</div>
      <div>
        <input 
          type="url" 
          name="avatar_url"
          placeholder="Avatar"
          value="{{ items.avatar_url }}"
          >
      </div>
    </div>
    
  