{% extends "admin/chefs/layout.njk" %}

{% block head %}
      <title>Foodfy - Chefs</title>
{% endblock %}


{% block content %}
  <main>
    <section class="admin-show-title">
      <h2>Gerenciar chefs</h2><span><a class="admin-button" href="/admin/chef/create">Adicionar chef</a></span>
    </section>
    <div class="cards-chefs">
      {% for item in items %}
      <div class="card-chefs">
        <img src="{{item.avatar_url}}" alt="{{item.title}}">
        <div>
          <p>{{item.name}}</p>
          <p>3 receitas</p>      
        </div>
      </div>
      {% endfor %}      
    </div>
  </main>

<script src="/scripts.js"></script>

{% endblock %}