<!DOCTYPE html>
<html>
  <body>
    <head>


      {% block head %}
        <title>Foodfy</title>
      {% endblock %}

    <link rel="stylesheet" href="/style.css">


    </head>

  
    <header-admin>
    <div class="header-admin-logo">
      <a href="/admin"><img  src="/images/logowhite.png" alt="Foodfy" style="border: none;"/></a>
      <a style="color: white" href="/admin">RECEITAS</a>
      <a style="color: white" href="/admin/chefs">CHEFS</a>
    </div>
    </header-admin>


    {% block content %}
    {% endblock %}

    
    <footer>
      <div class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </div>
    </footer>


    <script src="/scripts.js"></script>
  </body>
  
</html>