{% extends "admin/chefs/layout.njk" %}

{% block head %}
      <title>Foodfy - Admin</title>
{% endblock %}
<section>
  <div>
    <img src="{{ items.avatar_url }}" alt="">
    <h2>{{ items.name }}</h2>
  </div>
</section>

{% block content %}
  <section class="admin-show-title">
      <h2>Receitas</h2>
  </section>

  {# <main class="admin-container">
    <div class="cards-main">
      <div class="cards-admin">
      {% for item in items %}
        <div class="card-admin" id="{{items.indexOf(item)}}">
          <img src="{{item.image}}" alt="{{item.title}}">
          <div class="admin-recipe-details">
            <p class="recipe-name-admin">{{item.title}}</p>
            <p class="recipe-author-admin">por {{item.author}}</p>
            <a href="/admin/recipes/{{item.id}}">Visualizar</a>     
          </div>
        </div>
      {% endfor %} #}

{#         
      </div>
    </div>
  </main> #}


{% endblock %}