{% extends "admin/chefs/layout.njk" %}

{% block head %}
      <title>Foodfy - Admin</title>
{% endblock %}

{% block content %}
<section class="admin-show-title">
  <h2>Chef: {{items.name}}</h2><span><a href="/admin/chefs/edit/{{items.id}}">Editar chef</a></span>
</section>

<section>
  <div class="chef-avatar">
    <img src="{{ items.avatar_url }}" alt="">
    <h2>{{ items.name }}</h2>
    <p>{{ items.total_recipes }} {% if items.total_recipes >= 2 %}receitas{% else %}receita{% endif %}</p>
  </div>
</section>
 
<main class="admin-container">
    <div class="cards-main">
      <div class="cards-admin">
      {% for item in items %}
        <div class="card-admin">
          <img src="{{item.image}}" alt="{{item.title}}">
          <div class="admin-recipe-details">
            <p class="recipe-name-admin">{{item.title}}</p>
            <p class="recipe-author-admin">por {{item.author}}</p>
            <a href="/admin/recipes/{{item.id}}">Visualizar</a>     
          </div>
        </div>
      {% endfor %}

        
      </div>
    </div>
  </main>
  





{% endblock %}