{% extends "admin/layout.njk" %}

{% block head %}
      <title>Foodfy - Admin</title>
{% endblock %}


{% block content %}
  <main>
    <h2>Gerenciar Receitas</h2>
    <a href="/admin/create">Adicionar</a>
    <div class="cards-main">
      <div class="cards-admin">
      {% for item in items %}
        <div class="card-admin" id="{{items.indexOf(item)}}">
          <img src="/images/{{item.image}}" alt="{{item.title}}">
          <div>
            <p class="recipe-name-admin">{{item.title}}</p>
            <p class="recipe-author-admin">por {{item.author}}</p>
            <a href="/admin/recipes/{{items.indexOf(item)}}">Visualizar</a>     
          </div>
        </div>
      {% endfor %}

        
      </div>
    </div>
  </main>

<script src="/scripts.js"></script>

{% endblock %}