{% extends "admin/layout.njk" %}


{% block content %}


  
  <section class="admin-edit-title">
      <h2>Editando receita </h2>
        <span>
          <form action="/admin/recipe/{{recipeIndex}}?_method=DELETE" method="POST">
            <button type="submit">Deletar</button>
          </form>
        </span>
        <span>
          <button form ="update" type="submit">Salvar receita</button>
        </span>
        
  </section>
<form id="update" method="post" action="/admin/edit/{{recipeIndex}}?_method=PUT">
  <section class="details">

    {% include 'admin/fields.njk' %}
  
  </section>

</form>


{% endblock content %}