{% extends "admin/layout.njk" %}


{% block content %}

<form method="post" action="/admin/edit/{{recipeIndex}}?_method=PUT">

  
  <section class="admin-show-title">
      <h2>Editando receita <span><button type="submit">Salvar receita</button></span> </h2>
  </section>
  <section class="details">

    {% include 'admin/fields.njk' %}
  
  </section>

</form>


{% endblock content %}