    
    <div class="item">
      <div>Titulo</div>
      <div>
        <input 
          type="text" 
          name="title"
          placeholder="Título da receita"
          value="{{ items.title }}"
          >
      </div>
    </div>


    <div class="item">
      <div>Autor</div>
      <div>
        <input 
          type="text" 
          name="author"
          placeholder="Autor da receita"
          value="{{ items.author }}"
          >
      </div>
    </div>
    
    
    
    <div class="item">
      <div>Imagem da Receita</div>
      <div>
        <input 
          type="url"
          name="image"
          placeholder="http://"
          value="{{ items.image }}"
          >
      </div>
    </div>
    

    <div class="item">
      <div>Ingredientes</div>
      <div id="ingredients">
        {% for ingredient in items.ingredients %}
        <input 
          type="text" 
          name="ingredients[]"
          placeholder="Ingredientes da receita"
          value="{{ ingredient }}"
          ><br>
        {%else%}
          <input 
          type="text" 
          name="ingredients[]"
          placeholder="Ingredientes da receita"
          ><br>
        {%endfor%}
          
      </div>
        <input type="button" onClick="addIngredientField()" value="+ ingrediente"/>
    </div>

    <div class="item">
      <div>Modo de Preparo</div>
      <div id="prepare">
        {% for preparation in items.preparation %}
        <input 
          type="text" 
          name="preparation[]"
          placeholder="Modo de preparo"
          value="{{ preparation }}"
          ><br>
        {%else%}
        <input 
          type="text" 
          name="preparation[]"
          placeholder="Modo de preparo"
          ><br>
        {%endfor%}
      </div>
        <input type="button" onClick="addPrepareField()" value="+ modo de preparo"/>

    </div>

    <div class="item">
      <div>Informações adicionais</div>
      <div>
        <textarea
          class="admin-info-textarea"
          rows="15"
          name="information"
          placeholder="Informações adicionais"
          
          >{{ items.information }}
        </textarea>
          
      </div>
    </div>
