<!DOCTYPE html>
<html>

  <head>

    {% block head %}
    <title>Foodfy</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">

  </head>

  <body>
    <header-admin>
    <div class="header-admin-logo">
      <a href="/"><img  src="/images/logowhite.png" alt="Foodfy" style="border: none;"/></a>
    </div>
    </header-admin>


    {% block content %}
    {% endblock %}

    
    <footer>
    <div class="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>
  </footer>


  </body>
  
</html>