{% extends "admin/layout.njk" %}


{% block content %}

<form method="post" action="/admin/create">
  
  <section class="admin-show-title">
      <h2>Criando receita</h2><span><button type="submit">Salvar receita</button></span>
  </section>
  <section class="details">

    {% include 'admin/fields.njk' %}
    

  </section>

</form>


{% endblock content %}
