    
    <div class="item">
      <div>Titulo</div>
      <div>
        <input 
          type="text" 
          name="title"
          placeholder="Título da receita"
          value="{{ items.title }}"
          >
      </div>
    </div>


    <div class="item">
      <div>Autor</div>
      <div>
        <select name="author">
          {% for chef in chefOptions %}
          <option value="{{chef.id}}"
          {% if items.chef_id == chef.id %}selected{% endif %}
          >{{chef.name}}</option>
          {%endfor%}   
        </select>
      </div>
    </div>

   
    <div class="item">
      <div>Imagem da Receita</div>
      <div>
        <input 
          type="url"
          name="image"
          placeholder="http://"
          value="{{ items.image }}"
          >
      </div>
    </div>
    

    <div class="item">
      <div>Ingredientes</div>
      <div id="ingredients">
        {% for ingredient in items.ingredients %}
        <div class="ingredient">
          <input 
            type="text" 
            name="ingredients[]"
            placeholder="Ingredientes da receita"
            value="{{ ingredient }}"
          >
        </div>
        {%else%}
        <div class="ingredient">
          <input 
            type="text" 
            name="ingredients[]"
            placeholder="Novo ingrediente"
            value=""
            ><br>
        </div>
        {%endfor%}
      </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="item">
      <div>Modo de Preparo</div>
      <div id="prepare">
        {% for preparation in items.preparation %}
        <div class="prepareField">
          <input 
            type="text" 
            name="preparation[]"
            placeholder="Modo de preparo"
            value="{{ preparation }}"
            ><br>
        </div>
        {%else%}
        <div class="prepareField">
          <input
            type="text" 
            name="preparation[]"
            placeholder="Modo de preparo"
            ><br>
        </div>
        {%endfor%}
      </div>
        <button type="button" class="add-prepare">Adicionar novo passo</button>
    </div>

    <div class="item">
      <div>Informações adicionais</div>
      <div>
        <textarea
          class="admin-info-textarea"
          rows="15"
          name="information"
          placeholder="Informações adicionais"
          
          >{{ items.information }}
        </textarea>
          
      </div>
    </div>

  